//emision

body
	div.page-header(style="margin: 0 20px;")
			h1 CripTwit
				small  Laboratorio de Criptografía y Protocolos de seguridad
	h3 Emisión de Mensaje
	//El usuario debe ingresar las claves de la transmisión	
	div.container#claves
		h2 Ingrese las claves de la transmisión
		div.row
			form.col-lg-offset-3.col-lg-6(role='form')
				div.form-group
					input.form-control#vectorInicial(placeholder='Vector Inicial')
				div.form-group
					input.form-control#clave1(placeholder='Clave 1')
	//para la emision de mensajes
	div.container#emision
		h2 Panel de Envío
		div.row
			div.panel.panel-default.col-lg-3#consolaEncriptacion
				//div.panel.panel-heading Consola de Encriptación
				div.panel-body(style="height: 300px;overflow-y: scroll;")#contenidoConsola
					p#contenido Consola		
			div.jumbotron.col-lg-offset-1.col-lg-7#cuadroMensajes
				div.panel.panel-default
					div.panel-body(style="height: 250px;overflow-y: scroll;")
				div.input-group
					input.form-control(placeholder='Escriba su mensaje' type='text')
					span.input-group-btn
						button.btn.btn-default(type='button') Enviar
	div.footer
			div.container-fluid
				p.text-muted Laboratorio de Criptografía y Protocolos de seguridad
	

		
script.
	//primero nos conectamos al servidor
	var socket = io.connect();
