doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		//link(rel='stylesheet', href='/stylesheets/stickyFooter.css')
		link(rel='stylesheet', href='/stylesheets/lavish-bootstrap.css')
		//link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		//link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/encriptar.js')
		script(src='/socket.io/socket.io.js')
	body!=body