//recepcion
body
	div.page-header(style="margin: 0 20px;")
			h1 CripTwit
				small  Laboratorio de Criptografía y Protocolos de seguridad
	h3 Recepción de mensaje
	div.container#claves
		h2 Ingrese las claves de Transmisión
		div.row
			form.col-lg-offset-3.col-lg-6#entraClave(role='form')
				div.form-group
					input.form-control#vectorInicial(placeholder='Vector Inicial')
				div.form-group
					input.form-control#clave1(placeholder='Clave 1')
				div.form-group
					input.form-control#clave2(placeholder='Clave 2')
				button.btn.btn-default(type='submit') Iniciar transmisión
	div.container#recepcion
		h2 Panel de Recepción
		div.row
			div.panel.panel-default.col-lg-3#consolaEncriptacion
				div.panel-body(style="height: 300px;overflow-y: scroll;")#contenidoConsola
					p Consola
			div.jumbotron.col-lg-offset-1.col-lg-7#cuadroMensajes
				div.panel.panel-default
					div.panel-body#panelMensaje(style="height: 300px;overflow-y: scroll;")
	div.footer
		div.container-fluid
			p.text-muted Laboratorio de Criptografía y Protocolos de seguridad

	script.
		$(function(){
			//Ocultemos la parte de mensajes
			$('#recepcion').hide();

			//Variables de claves
			var $initialVector = $('#vectorInicial');
			var $keys = $('#claves');
			var keyArray = [];
			var $entryKeys = $('#entraClave');

			//variables para mensajes
			var $messagePanel = $('#panelMensaje');

			//variables de la consola
			var $consola = $('#contenidoConsola');

			//Me conecto al servidor
			var socket = io.connect();

			//cuando entremos las claves
			$entryKeys.submit(function(e){
				e.preventDefault();

				$('#claves').hide();
				$('#recepcion').show();

				socket.emit('recibir', null, function(data){
					if(data){
						//Hay emisor
					}else{
						//no hay emisor
						console.log('No hay quien envíe');
					}
					});
				});

			//nos avisan que hay emisor
			socket.on('transmite', function(data){
				console.log('Ahora hay emisor');
				});

			//Cuando llegue un mensaje
			socket.on('mensaje', function(data){
				//Mostramos en consola la llegada del mensaje
				$consola.append('Llegó un mensaje <br/>');

				//Aquí hay que desencriptar

				//una vez desencriptado, lo ponemos en el panel de mensaje
				$messagePanel.append('Mensaje: ' + data.mensaje +'<br/>');


				});
					
			});
		