//recepcion
body
	div.page-header(style="margin: 0 20px;")
			h1 CripTwit
				small  Laboratorio de Criptografía y Protocolos de seguridad
	h1 Recepcion de mensaje
	div.container#claves
	div.footer
		div.container-fluid
			p.text-muted Laboratorio de Criptografía y Protocolos de seguridad
	